[submodule ".vim/pack/dist/start/YouCompleteMe"]
	path = .vim/pack/dist/start/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule ".vim/pack/dist/start/ctrlp"]
	path = .vim/pack/dist/start/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/pack/dist/start/emmet-vim"]
	path = .vim/pack/dist/start/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule ".vim/pack/dist/start/rainbow_csv"]
	path = .vim/pack/dist/start/rainbow_csv
	url = git@github.com:mechatroner/rainbow_csv.git
[submodule ".vim/pack/dist/start/vim-airline"]
	path = .vim/pack/dist/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/pack/dist/start/vim-airline-themes"]
	path = .vim/pack/dist/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule ".vim/pack/dist/start/vim-fugitive"]
	path = .vim/pack/dist/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/pack/dist/start/ale"]
	path = .vim/pack/dist/start/ale
	url = git@github.com:w0rp/ale.git
[submodule ".vim/pack/dist/start/ctrlsf"]
	path = .vim/pack/dist/start/ctrlsf
	url = git@github.com:dyng/ctrlsf.vim.git
[submodule ".vim/pack/dist/start/gruvbox"]
	path = .vim/pack/dist/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule ".vim/pack/dist/start/nerdtree"]
	path = .vim/pack/dist/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/pack/dist/start/tagbar"]
	path = .vim/pack/dist/start/tagbar
	url = git@github.com:majutsushi/tagbar.git
